*{
    background-color:rgb(145, 114, 87);
    text-align: center;
}
#operation{
    display: flex;
    justify-content: center;
}
#operation p{
    font-size: 5em;
    background-color: rgb(41, 41, 41);
    /* border-radius: 10%; */
    color:#ffffff;
    margin: 0;
    padding: 0em 1em;
    
}
.buttons{
    display: flex;
    justify-content: center;
}
.button{
    padding: 1em;
    margin: .5rem;
    background-color: darkgray;
    border-radius: 10%;
    font-size: 2em;
}
.equal{
    background-color: green;
    border-radius: 10%;
}
.clear{
    background-color: darkred;
    color: white;
    padding: 1em .5em ;
    margin:.5rem;
    font-size: 2em;
}
.row{
    display: flex;
    flex-direction: column;
}